footer {
    margin: 0 auto;
    color: white;
    background-color: black;
}

.footer-container>div:first-of-type {
    justify-content: space-around;
    align-items: flex-start;
}

.footer-container>div:last-child {
    justify-content: space-around;
    align-items: flex-start;
}

.footer-container>div>div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}